@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');

:root {
  --cr-orange: #f59f3c;
  --cr-gray: #303c44;
  --cr-selection-bg: #f59f3c;
  --cr-selection-text: #d2d2d1;
  --cr-background: #040505;

  --font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
  --font-size-xxl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
  --font-size-xxxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--cr-selection-bg);
  color: var(--cr-selection-text);
}

body {
  font-family: 'Andika', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  background: url(/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  background-position: center center;
  color: #fff;
  height: 100%;
}

/* .box {
  background: url(/bg.jpg);
  background-size: cover;
}
 */
.scroll::-webkit-scrollbar {
  width: 20px;
}

.scroll::-webkit-scrollbar-track {
  background-color: var(--cr-gray);
  border-radius: 0px;
}

.scroll::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: var(--cr-orange);
}
body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--cr-gray);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: var(--cr-orange);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: 1.1;
}

h3 {
  font-size: var(--font-size-xl);
  line-height: 1.1;
}

p {
  font-size: clamp(1.035rem, calc(12px + 0.54vw), 1.125rem);
  line-height: 1.4;
  color: #d2d2d1;
}

span {
  color: var(--cr-orange);
}

.copy {
  position: fixed;
  right: 6px;
  bottom: 14px;
  width: 30px;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* 
@media (max-width: 767px) {
  .box {
    background-image: none;
  }
} */

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.papers,
.papers:before,
.papers:after {
  background-color: #3a3a3a;
  border: 1px solid #2e2e2e;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.papers {
  position: relative;
  padding: 2em;
  margin: 50px auto;
}

.papers:before,
.papers:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2.5deg);
  -o-transform: rotate(2.5deg);
  transform: rotateZ(2.5deg);
  z-index: -1;
}

.papers:after {
  -webkit-transform: rotateZ(-2.5deg);
  -o-transform: rotate(-2.5deg);
  transform: rotateZ(-2.5deg);
}

.papers h2 {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  padding: 0.2em 0;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.papers p {
  text-align: left;
  margin: 1, 5em 0;
}
.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
